* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #000000;
  width: 320px;
  height: 580px;
  margin: 40px auto;
  border-radius: 40px;
  padding: 10px;
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.buttons {
  width: 100%;
  height: 360px;
}

.buttonsA, .buttonsB, .buttonsC, .buttonsD, .buttonsE {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-around;
}

.buttonsA div, .buttonsB div, .buttonsC div, .buttonsD div, .buttonsE div {
  border: 2px solid black;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  margin: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: #FFFFFF;
}

.buttonsA div:first-child {
    background-color: #A5A5A5;
    color: black;
}

.buttonsA div:nth-child(2) {
    background-color: #A5A5A5;
    color: black;
    display: flex;
    flex-direction: 
}

.buttonsA div:nth-child(3) {
    background-color: #A5A5A5;
    color: black;
}

.buttonsA div:last-child {
    background-color: #F1A33C;
    color: white;
    font-size: 2rem;
}

.buttonsB div:last-child {
    background-color: #F1A33C;
    color: white;
}

.buttonsC div:last-child {
    background-color: #F1A33C;
    color: white;
}

.buttonsD div:last-child {
    background-color: #F1A33C;
    color: white;
}

.buttonsD div:last-child {
    background-color: #F1A33C;
    color: white;
}

.buttonsE div:first-child {
  width: 45%;
  border-radius: 2rem;
}

.buttonsA div:hover, .buttonsB div:hover, .buttonsC div:hover, .buttonsD div:hover, .buttonsE div:hover {
    opacity: 0.6;
    cursor: pointer;
}

/*   alternative  */

/* 

body{
background-color: #FFFFFF;
display: flex;
justify-content: center;
font-family:Arial, Helvetica, sans-serif;
}

.container{
    background-color: black;
    justify-content: column;
    align-items: center;
    height: 900px;
    width: 500px;
    border-radius: 40px;
    flex-direction: column;
}

.result{
    height: 120px;
    width: 100%;
    color: white;
    text-align: right;
    margin-top: 30px;
    font-size: 40px;
    padding: 40px;
}

.buttons{
    display: grid;

      yada bu

    grid-template-columns: 100px 100px 50px ;
    grid-template-rows: 100px 100px;

    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 40px 30px;
    margin-top: 150px;
    overflow: hidden;
}

button{
    font-size: 40px;
    height: 100px;
    border-radius: 50%;
    padding: 10px;
    border: none;
    color: white;
    background-color:#333333 ;
    cursor: pointer;
}

button.operator{
    background-color: #F1A33C;
}
.percent, .Clear, .plusminus{
    color: black;
    background-color: #A5A5A5;
}
button.zero{

    grid-column: 1/span 2;

        yada bu

    grid-column-start:1 ;
    grid-column-end: 3;

    border-radius: 3rem;
    text-align: start;
    padding-left: 45px;
    align-items: center;
}
button:hover{
    opacity: 0.6;
}

*/